
.blog-container {
    background-color: dodgerblue;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .blog-title {
    color: white; 
    font-size: 24px; 
    margin: 0;
    padding-bottom: 10px;
  }
  
  .blog-list {
    flex-wrap: wrap;
    padding-top: 10px;
  }
  
  .blog-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    min-width: 300px; 
  }
  
  .blog-card-title {
    font-size: 20px;
    margin-top: 0;
  }
  
  .blog-card-username {
    color: dodgerblue;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Style the blog card date */
  .blog-card-date {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Style the blog card content */
  .blog-card-content {
    font-size: 16px;
  }
  .read-more-link {
    text-decoration: underline;
    color: blue;
  }