nav {
    color: white;
    padding: 15px; 
    display: flex;
    justify-content: space-between;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  
  li {
    padding: 5px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold; 
    font-size: 24px; 
    
  }
  
  .custom-button {
    background-color:rgb(0, 128, 255);
    
    color: white; 
    font-size: 18px; 
    cursor: pointer; 
    border-radius: 15%;
    padding: 10px;
  }
  .custom-button:hover{
    background-color: rgb(27, 111, 255);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  }
  img{
    width: 50px;
    height: 50px;
  }
  